@import "tailwindcss";

@theme {
  --font-serif: "UnifrakturMaguntia", cursiv;
  --font-sans: "Cinzel", serif;

  --color-hell-50: #fff0f0;
  --color-hell-100: #ffc2c2;
  --color-hell-200: #ff9494;
  --color-hell-300: #ff5757;
  --color-hell-400: #ff1f1f;
  --color-hell-500: #dc2626;
  --color-hell-600: #b91c1c;
  --color-hell-700: #991b1b;
  --color-hell-800: #7f1d1d;
  --color-hell-900: #450a0a;
  --color-hell-950: #2a0404;

  --animate-fade-in: fade-in 0.5s ease-out;
  --animate-fade-in-up: fade-in-up 0.7s ease-out;
  --animate-pulse-slow: pulse-slow 3s infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse-slow {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cinzel', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'UnifrakturMaguntia', cursive;
  letter-spacing: 0.05em;
}